header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 7.5vh;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5pt 10pt;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    background-color: rgba(0, 0, 0, .5);

    /* -webkit-backdrop-filter: blur(2.5px);
    backdrop-filter: blur(2.5px); */

    box-shadow: 0 0 25pt var(--color-blue);
}

header img {
    height: 80%;
}

header h1 {
    color: var(--color-black);
    line-height: 25pt;
    text-shadow: none;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header nav>form {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0 5pt;
}

header nav form input {
    width: 100%;
    height: 25pt;

    border-radius: 2.5pt;
    outline: none;
    border: 1.5pt solid var(--color-black);

    padding: 1.5pt 3pt;
}

header nav .menu {
    position: relative;
}

header nav .menu label {
    display: flex;
    align-items: center;
    justify-content: space-between;

    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    cursor: pointer;

    text-transform: uppercase;

    border: 2.5pt solid var(--color-marroun);
    border-radius: 2.5pt;

    padding: 2.5pt 5pt;

    transition: border-radius .25s;
}
header nav.open .menu label {
    border-radius: 2.5pt 2.5pt 0 0;
}


header nav .menu label>.bars {
    margin-left: 5pt;
    width: 20pt;
    height: 20pt;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

header nav .menu label>.bars>* {
    width: 100%;
    height: .85pt;
    background-color: black;
    transition: .25s;
}

header nav.open .menu .bars>.bar1 {
    transform-origin: top left;
    transform: rotate(45deg);
}
header nav.open .menu .bars>.bar2 {
    transform: scale(0);
}
header nav.open .menu .bars>.bar3{
    transform-origin: bottom left;
    transform: rotate(-45deg);
}

header nav .menu a {
    color: inherit;
    text-decoration: none;
}
header nav .menu a:hover {
    text-decoration: underline;
}

header nav .menu .menu-content {
    position: absolute;
    top: 100%;
    right: -100%;
    width: 100%;

    opacity: 0;

    background-color: var(--color-marroun);

    padding: 5pt;

    transition: .25s;
}

header ul, header ol {
    list-style: none;
}

header nav.open .menu .menu-content {
    right: 0;
    opacity: 1;
}