@import '../_init.css';

.hero {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;

    background-image: url(/Assets/Images/header.png);
    background-size: contain;
    background-repeat: no-repeat;

    padding: 15pt;
}

.hero .img {
    width: 75%;
    height: 75%;
    max-width: 650px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.hero .img img {
    width: 100%;
}

.hero .texts {
    padding: 5pt;
}

.hero .texts h1 {
    font-size: 7.5vh;
}
.hero .texts h1>span {
    color: var(--color-darkgreen);
    text-shadow: 0 0 15.5pt var(--color-white);
}

.hero .texts p {
    color: var(--color-black);
    text-shadow: 0 0 5.5pt var(--color-black);
}