@import '../_init.css';

header {
    -webkit-backdrop-filter: none;
    backdrop-filter: none;
    box-shadow: none;
}

main>.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    min-height: 100vh;

    padding-top: 7.5vh;
}


body h1 {
    text-align: center;
}

.result-scroller {
    width: 65%;
    margin: 15pt;
}

.result {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 100%;
}

article {
    position: relative;
    margin: 15pt 5pt;
    padding: 15pt;
    border-radius: 5pt;
    background-color: var(--color-green);

    width: 80%;
    min-height: 25vh;

    border: 2.5pt solid var(--color-marroun);
    box-shadow: 5pt 5pt 15pt var(--color-blue);
}

article img {
    width: 100%;
    border-radius: 5pt;
    margin: 5pt 0;
}

article a.path {
    position: absolute;
    bottom: 2.5pt;
    left: 50%;
    transform: translateX(-50%);
}

article .content {
    margin-bottom: 15pt;
}