@import '../_init.css';

header {
    -webkit-backdrop-filter: none;
    backdrop-filter: none;
    box-shadow: none;
}

main>.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    height: 100vh;

    z-index: 2;
}


body h1 {
    text-align: center;
}

.result-scroller {
    width: 50%;
    overflow-y: scroll;
    max-height: 80%;
    margin: 15pt;
}

.result {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 100%;
}

article {
    margin: 15pt 5pt;
    padding: 15pt;
    border-radius: 5pt;
    background-color: var(--color-green);

    width: 75%;
    min-height: 25vh;

    box-shadow: 5pt 5pt 15pt var(--color-blue);
}

article img {
    width: 100%;
    border-radius: 5pt;
    margin: 5pt 0;
}

article a.path {
    display: block;
    text-align: center;
}