<header>
    <img src="/Assets/Images/logo.svg" alt="Logo MCTips">

    <h1 class="page-title"></h1>

    <nav>
        <form method="GET" class="search">
            <input type="search" name="search" id="search" placeholder="search articles" tabindex="1">
        </form>

        <div class="menu">
            <div class="oppener">
                <form method="dialog">
                    <input type="checkbox" name="menu" id="menu" style="display: none;">

                    <label for="menu">
                        <sub>
                            menu
                        </sub>

                        <div class="bars">
                            <div class="bar1"></div>
                            <div class="bar2"></div>
                            <div class="bar3"></div>
                        </div>
                    </label>
                </form>
            </div>

            <div class="menu-content">
                <ul>
                    <li class="title"><a href="/build">Build</a></li>
                    <li><!-- Name here --></li>
                </ul>
                <ul>
                    <li class="title"><a href="/redstone">Redstone</a></li>
                    <li><!-- Name here --></li>
                </ul>
                <ul>
                    <li class="title"><a href="/commands">Commandes</a></li>
                    <li><!-- Name here --></li>
                </ul>
                <ul>
                    <li class="title"><a href="/other">Autre</a></li>
                    <li><!-- Name here --></li>
                </ul>
            </div>
        </div>
    </nav>
</header>